<!DOCTYPE html>
<html>
	<!--begin::Head-->
	<head>
		<meta charset="utf-8" />
		<title>Ürünler</title>
		<meta name="description" content="Page with empty content" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="canonical" href="https://keenthemes.com/metronic" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="../assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="../assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="../assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="../assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<link href="../assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
		<link href="../assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
		<link href="../assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
		<link href="../assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
		
		
    
    
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="../assets/media/logos/favicon.ico" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
			<!--begin::Logo-->
			<a href="index.html">
				<img alt="Logo" src="../assets/media/logos/webapp.png" width="210" />
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<!--begin::Aside Mobile Toggle-->
				<button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
					<span></span>
				</button>
				<!--end::Aside Mobile Toggle-->
				<!--begin::Header Menu Mobile Toggle-->
				<button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
					<span></span>
				</button>
				<!--end::Header Menu Mobile Toggle-->
				<!--begin::Topbar Mobile Toggle-->
				<button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
					<span class="svg-icon svg-icon-xl">
						<!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<polygon points="0 0 24 0 24 24 0 24" />
								<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
								<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
							</g>
						</svg>
						<!--end::Svg Icon-->
					</span>
				</button>
				<!--end::Topbar Mobile Toggle-->
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Aside-->
				<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
					<!--begin::Brand-->
					<div class="brand flex-column-auto" id="kt_brand">
						<!--begin::Logo-->
						<a href="index.html" class="brand-logo">
							<img alt="Logo" src="../assets/media/logos/webapp.png" width="210" />
						</a>
						<!--end::Logo-->
						<!--begin::Toggle-->
						<button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
							<span class="svg-icon svg-icon svg-icon-xl">
								<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-left.svg-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)" />
										<path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)" />
									</g>
								</svg>
								<!--end::Svg Icon-->
							</span>
						</button>
						<!--end::Toolbar-->
					</div>
					<!--end::Brand-->
					<!--begin::Aside Menu-->
					<div th:replace="storage/fragments/menu :: menu" class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
						
					</div>
					<!--end::Aside Menu-->
				</div>
				<!--end::Aside-->
				
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Header-->
					<div th:replace="storage/fragments/header :: header"></div>
					<!--end::Header-->

					<!-- begin::Large modal -->
					<div class="modal fade bd-example-modal-lg show" tabindex="1" role="dialog"
						aria-labelledby="myLargeModalLabel" style="display: block; padding-right: 17px;" aria-hidden="true">
					
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="myLargeModalLabel">Taranacak Kategori</h4>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<!-- ..... -->
									<div class="col-12">
										<select class="form-control select2 productCategory categorySelect" id="kt_select2_5">
											
										</select>
										<br>
										<br>
										<center><button class="btn btn-success storageStart" data-toggle='modal' data-target='.bd-example-modal-lg'>Taramaya başla</button></center>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<!--end:: Large modal -->
					
					

					<!--begin::Content-->
						<div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Page Heading-->
									<div class="d-flex align-items-baseline flex-wrap mr-5">
										<!--begin::Page Title-->
										<h5 class="text-dark font-weight-bold my-1 mr-5">Barkod Scanner</h5>
										<!--end::Page Title-->
									</div>
									<!--end::Page Heading-->
								</div>
								<!--end::Info-->

									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->

									<!--begin::Search Form-->
									<div class="d-flex align-items-center" id="kt_subheader_search">
										<span class="text-dark-50 font-weight-bold">Total</span>
										<form class="ml-5">
											<div class="input-group input-group-sm input-group-solid" style="max-width: 175px">
												<input type="text" class="form-control" id="text" placeholder="Ara..."/>

												<div class="input-group-append">
													<span class="input-group-text">
														<span class="svg-icon">
															<!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="0" y="0" width="24" height="24" />
																	<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																	<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
																</g>
															</svg>
															<!--end::Svg Icon-->
														</span>
														<!--<i class="flaticon2-search-1 icon-sm"></i>-->
													</span>
												</div>
											</div>
										</form>
									</div>
									<!--end::Search Form-->
								</div>
								<!--end::Info-->
							</div>

    <style>
        #barcodeScanner {
            text-align: center;
            font-size: medium;
            height: 500px;
            width: 100%;
        }
    </style>
    <div>
        Barcode Result: <a id='result' class="resultt">N/A</a>
    </div>
    <div id="barcodeScanner">
        <span id='loading-status' style='font-size:x-large'>Loading Library...</span>
    </div>
    




					<div class="content d-flex flex-column">
								<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Card-->
								<div class="card card-custom">
									<!--begin::Header-->
									
									<div class="card-header flex-wrap border-0 pt-6 pb-0">
										<div class="card-title">
											<h3 class="card-label">Barkod Scanner <span id="kt_subheader_total"></span>
											<span class="d-block text-muted pt-2 font-size-sm">Bu alandan barkod kontrolü yapabilirsiniz.</span></h3>
											<h3 class="card-label">Taranacak Kategori : <span class="categoryName"></span></h3>
										</div>

									</div>
									<!--end::Header-->



<!-- begin::Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
	  		<h4 class="modal-title" id="myLargeModalLabel">Barkod Bilgisi</h4>
	  		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    	<span aria-hidden="true">×</span>
	  		</button>
		</div>
		<div class="modal-body">
		  ...
		</div>
    </div>
  </div>
</div>
<!--end:: Large modal -->







<!--begin:: Barcod Scanner -->

		
<div class="card-body">
  <!--begin::Form-->
  <form class="form" id="kt_form">
   <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-12">
     
     
<style>
  .result{
    background-color: #123;
    color:#fff;
    font-weight: bold;
    padding:10px;
  }
</style>
<div class="row">
  <div class="col">
    <div style="width:500px;" id="reader"></div>
  </div>
  
  <div class="col" style="padding:30px;">
    <h4 style="float: left; margin-right: 20px;">Tarama Sonucu</h4>
    <div id="result">Sonuç</div>
    <br>
  	<b><span class="productCount">0</span> adet ürün </b><div class="btn btn-success printData">Kontrol Et!</div>
  	
  	<div class="btn btn-primary loading">
  	
	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
	Tarama Yapılıyor Lütfen Bekleyiniz...</div>
  	
	
  	<div class="barcodeInfoPrint"></div>
  	
  </div>
  
  
  
</div>

<!--end:: Barcod Scanner -->
      
     
    </div>
    <div class="col-xl-2"></div>
   </div>
  </form>
  <!--end::Form-->
 </div>
 
 
 <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
 
<button class="btn btn-danger" onclick="ExportToExcel('xlsx')"><i class="fa fa-file-alt"></i>Olmayanları Kaydet</button>


<script type="text/javascript">
function ExportToExcel(type, fn, dl) {
    var elt = document.getElementById('tbl_exporttable_to_xls');
    var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
    return dl ?
      XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
      XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
 }</script>



									</div>


								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					<!--begin::Footer-->
					<div th:replace="storage/fragments/footer :: footer"></div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		<!-- begin::User Panel-->
		<div th:replace="storage/fragments/user-profile :: user-profile"></div>
		<!-- end::User Panel-->
<center>
 <table id="tbl_exporttable_to_xls" border="1">
	<thead>
		<th>OlmayanBarcodeId</th>
	</thead>
	<tbody>
		<tr id="olmayanIdYazdir" class="olmayanIdYazdir">
		</tr>
	</tbody>
</table>
</center>


		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
				<!--end::Svg Icon-->
			</span>
		</div>
		<!--end::Scrolltop-->
		
		<script>var HOST_URL = "https://bazzarstoragee.herokuapp.com";</script>
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="../assets/plugins/global/plugins.bundle.js"></script>
		<script src="../assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="../assets/js/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="../assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
		<!--end::Page Vendors-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="../assets/js/pages/widgets.js"></script>
		<!--end::Page Scripts-->
		<script src="../assets/js/pages/custom/user/list-datatable.js"></script>
		
		<script src="../assets/js/pages/crud/forms/widgets/bootstrap-switch.js"></script>
		

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="../assets/plugins/global/plugins.bundle.js"></script>
		<script src="../assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="../assets/js/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
		<script src="../assets/plugins/global/plugins.bundle.js"></script>
		<script src="../assets/js/pages/crud/forms/widgets/bootstrap-switch.js"></script>
		<script src="../assets/js/pages/features/miscellaneous/toastr.js"></script>
<!-- 		<script type="text/javascript" charset="UTF-8" src="xyz.js"></script> -->
		
    <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@8.2.5/dist/dbr.js"></script>
		<script>
		$(".loading").hide();
        Dynamsoft.DBR.BarcodeScanner.showDialog = function () { };
        window.onload = async function () {
            try {
                await Dynamsoft.DBR.BarcodeScanner.loadWasm();
                await initBarcodeScanner();
            } catch (ex) {
                alert(ex.message);
                throw ex;
            }
        };
        let scanner = null;
        async function initBarcodeScanner() {
            scanner = await Dynamsoft.DBR.BarcodeScanner.createInstance();
            scanner.onFrameRead = results => {
                
                for (let result of results) {
                    
                    var test = $(".resultt").text();
                    
                    if(test != result.barcodeText){
                    	//result.barcodeFormatString
	                    const audio = new Audio("../assets/storage/assets/barcodeReader.mp3" );
	                    audio.play();
                        document.getElementById('result').innerHTML = result.barcodeText;
                        startTest(result.barcodeText);
                    }
                    
                    
                }
            };
            scanner.onUnduplicatedRead = (txt, result) => { };
            scanner._drawRegionsults = function (e) {
                let t, i, n;
                if (this.beingLazyDrawRegionsults = !1,
                    this.singleFrameMode) {
                    if (!this.oriCanvas)
                        return;
                    t = "contain",
                        i = this.oriCanvas.width,
                        n = this.oriCanvas.height
                } else {
                    if (!this._video)
                        return;
                    t = this._video.style.objectFit || "contain",
                        i = this._video.videoWidth,
                        n = this._video.videoHeight
                }
                let r = this.region;
                if (r && (!r.regionLeft && !r.regionRight && !r.regionTop && !r.regionBottom && !r.regionMeasuredByPercentage || r instanceof Array ? r = null : r.regionMeasuredByPercentage ? r = r.regionLeft || r.regionRight || 100 !== r.regionTop || 100 !== r.regionBottom ? {
                    regionLeft: Math.round(r.regionLeft / 100 * i),
                    regionTop: Math.round(r.regionTop / 100 * n),
                    regionRight: Math.round(r.regionRight / 100 * i),
                    regionBottom: Math.round(r.regionBottom / 100 * n)
                } : null : (r = JSON.parse(JSON.stringify(r)),
                    delete r.regionMeasuredByPercentage)),
                    this._cvsDrawArea) {
                    this._cvsDrawArea.style.objectFit = t;
                    let o = this._cvsDrawArea;
                    o.width = i,
                        o.height = n;
                    let s = o.getContext("2d");
                    if (r) {
                        s.fillStyle = this.regionMaskFillStyle,
                            s.fillRect(0, 0, o.width, o.height),
                            s.globalCompositeOperation = "destination-out",
                            s.fillStyle = "#000";
                        let e = Math.round(this.regionMaskLineWidth / 2);
                        s.fillRect(r.regionLeft - e, r.regionTop - e, r.regionRight - r.regionLeft + 2 * e, r.regionBottom - r.regionTop + 2 * e),
                            s.globalCompositeOperation = "source-over",
                            s.strokeStyle = this.regionMaskStrokeStyle,
                            s.lineWidth = this.regionMaskLineWidth,
                            s.rect(r.regionLeft, r.regionTop, r.regionRight - r.regionLeft, r.regionBottom - r.regionTop),
                            s.stroke()
                    }
                    if (e) {
                        s.globalCompositeOperation = "destination-over",
                            s.fillStyle = this.barcodeFillStyle,
                            s.strokeStyle = this.barcodeStrokeStyle,
                            s.lineWidth = this.barcodeLineWidth,
                            e = e || [];
                        for (let t of e) {
                            let e = t.localizationResult;
                            s.beginPath(),
                                s.moveTo(e.x1, e.y1),
                                s.lineTo(e.x2, e.y2),
                                s.lineTo(e.x3, e.y3),
                                s.lineTo(e.x4, e.y4),
                                s.fill(),
                                s.beginPath(),
                                s.moveTo(e.x1, e.y1),
                                s.lineTo(e.x2, e.y2),
                                s.lineTo(e.x3, e.y3),
                                s.lineTo(e.x4, e.y4),
                                s.closePath(),
                                s.stroke()

                            let text = t.barcodeText;
                            s.font = '18px Verdana';
                            s.fillStyle = '#ff0000';
                            let x = [e.x1, e.x2, e.x3, e.x4];
                            let y = [e.y1, e.y2, e.y3, e.y4];
                            x.sort(function (a, b) {
                                return a - b;
                            });
                            y.sort(function (a, b) {
                                return b - a;
                            });
                            let left = x[0];
                            let top = y[0];

                            s.fillText(text, left, top + 50);
                        }
                    }
                    this.singleFrameMode && (s.globalCompositeOperation = "destination-over",
                        s.drawImage(this.oriCanvas, 0, 0))
                }
                if (this._divScanArea) {
                    let e = this._video.offsetWidth
                        , t = this._video.offsetHeight
                        , o = 1;
                    e / t < i / n ? (o = e / i,
                        this._divScanArea.style.left = "0",
                        this._divScanArea.style.top = Math.round((t - n * o) / 2) + "px") : (o = t / n,
                            this._divScanArea.style.left = Math.round((e - i * o) / 2) + "px",
                            this._divScanArea.style.top = "0");
                    let s = r ? Math.round(r.regionLeft * o) : 0
                        , a = r ? Math.round(r.regionTop * o) : 0
                        , d = r ? Math.round(r.regionRight * o - s) : Math.round(i * o)
                        , _ = r ? Math.round(r.regionBottom * o - a) : Math.round(n * o);
                    this._divScanArea.style.marginLeft = s + "px",
                        this._divScanArea.style.marginTop = a + "px",
                        this._divScanArea.style.width = d + "px",
                        this._divScanArea.style.height = _ + "px"
                }
            }
            document.getElementById('barcodeScanner').appendChild(scanner.getUIElement());
            document.getElementById('loading-status').hidden = true;
            document.getElementsByClassName('dbrScanner-sel-camera')[0].hidden = true;
            document.getElementsByClassName('dbrScanner-sel-resolution')[0].hidden = true;
            document.getElementsByClassName('dbrScanner-btn-close')[0].hidden = true;
			$(".dbrScanner-msg-poweredby").html("Powered by <a href='https://www.gnsofttr.com/' style='color: white; font-weight: bold' target='_blank'>Gnsoft</a>");
            await scanner.show();
        }
    </script>
    
    
		
		<script charset="UTF-8" type="text/javascript">
		
		var productCount = 0;
		function startTest(qrCodeMessage) {
			var barcodeId = qrCodeMessage;
		/*User Control*/
				$.ajax({
				url: "https://bazzarstoragee.herokuapp.com/rest/productBarcode/"+barcodeId,
				type: "GET",
				success:function(data) {
					productCount++;

					$(".productCount").html(productCount);
					if(data.barcodeId == barcodeId){
						$(".noUser").hide();
						$(".thereIsUser").show();
						

					  	var barcodeImageUrl = '<img style="padding-right: 10px;" src="'+data.imageUrl+'" width="70">';
					  	var title = '<span class="barcodeTitle">'+data.title+'</span>';
					  	var barcodeIdPrint = "<input type='hidden' name='barcodeId' value='"+data.barcodeId+"' />";
						$(".barcodeInfoPrint").append("<div style='margin-top: 7px;'>"+barcodeImageUrl+title+barcodeIdPrint+"</div>");

				    
					}else{
						//alert("Sakin ol şampiyon böyle bir ürün yok!");

					  	var barcodeImageUrl = '<img style="padding-right: 10px;" src="https://senocak.s3.eu-central-1.amazonaws.com/wp-content/uploads/2017/04/08222937/resim-yok.jpg" width="70">';

					  	var title = "";
					  	/*-----no product-----*/
						$.getJSON("/assets/storage/assets/json/bazzarProducts.json", function(data){

							data.forEach(function(dataN,index){
								console.log(dataN);
								if(dataN.barcode == barcodeId){
									title = dataN.title;
								  	var button = '<button class="btn btn-success">Ürünü kaydet</button>';
								  	var barcodeIdPrint = "<input type='hidden' name='barcodeId' value='0' />";
									$(".barcodeInfoPrint").before("<div style='margin-top: 7px;'>"+barcodeImageUrl+title+button+barcodeIdPrint+"</div>");
									$(".olmayanIdYazdir").append("<div style='margin-top: 7px;'>"+dataN.barcode+"</div>");
									//$("#olmayanIdYazdir").before("<td>"+dataN.barcode+"</td>");
								}
							})
						})
						/*-----!no product-----*/
						
						
					}
			    }
			    });
		/*!User Control*/
			var firstName = $("input[name=firstName]").val();
			var lastName = $("input[name=lastName]").val();
			$("#firstNamelastName").text(firstName+" "+lastName);
			
			var adress = $("input[name='address']:checked").val();
			$("#adressDetail").text(adress);
			var order = $("input[name=orderDetail]").val();
			$("#orderDetail").text(order);
		};

		/*--------------------------Print Data--------------------------*/

		$("#barcodeScanner").hide();
		$(".printData").click( function () {
			$("#barcodeScanner").hide();
			$(".printData").remove();
			$(".loading").show();

	    	var barcodeId = [];
			jQuery("input[name='barcodeId']").each(function() {
				barcodeId.push( this.value );
			});

	    	var param={
				    "barcode": barcodeId
	    	}
			var ser_data=JSON.stringify(param);

			
			$.ajax({
			url: HOST_URL + "/rest/product/barcodeControl?categoryId="+$("option:selected", ".categorySelect").val(),
			type: "POST",
	        data: ser_data,
		    contentType: "application/json",
	        success: function (data) {
				toastr.success('Barkod Taraması Tamamlandı.', 'İşlem Başarılı', {"progressBar": true,positionClass: "toast-bottom-right",timeOut: 1500})
				setTimeout(function(){   
		        window.location.assign("/storageControl");
		        }, 1500);
		    },error: function () {
				toastr.error('Bir sorun oluştu..', 'Hata!', {"progressBar": true,positionClass: "toast-bottom-right",timeOut: 2000})
			}
		    });
			
			return false;
		/*User Control*/
				$.ajax({
				url: HOST_URL + "/rest/productBarcode/"+barcodeId,
				type: "GET",
				success:function(data) {	
				$(".deletedAdress").remove();    
					if(data.barcodeId == barcodeId){
						$(".noUser").hide();
						$(".thereIsUser").show();

						$(".barcodeTitle").text(data.title);
						$(".barcodeDescription").text(data.description);
				        $(".barcodeImageUrl").append("<img src='"+data.imageUrl+"' width='100'>");

				    
					}else{
						alert("Sakin ol şampiyon böyle bir ürün yok!");
						$(".noUser").show();
						$(".thereIsUser").hide();
					}
			    }
			    });
		/*!User Control*/
			var firstName = $("input[name=firstName]").val();
			var lastName = $("input[name=lastName]").val();
			$("#firstNamelastName").text(firstName+" "+lastName);
			
			var adress = $("input[name='address']:checked").val();
			$("#adressDetail").text(adress);
			var order = $("input[name=orderDetail]").val();
			$("#orderDetail").text(order);
		});
		/*--------------------------Print Data--------------------------*/
	
/*--------------------------Product Add Category View--------------------------*/
		$.ajax({
		url: HOST_URL + "/rest/allCategories/",
		type: "GET",
		success:function(data) {
			data = data;
			data.forEach(function(categoryData,index){
				var category=("<option value='"+categoryData._id+"'>"+categoryData.title+"</option>");
				$(".productCategory").append(category);

	    	});
	    }
	    });

/*--------------------------!Product Add Category View--------------------------*/

 	
	
	$(".storageStart").click( function () {
		var categoryId = $("option:selected", ".categorySelect").val();
		var categoryName = $("option:selected", ".categorySelect").text();
		

		$("#barcodeScanner").show();
		$(".categoryName").text(categoryName);
	})

		</script>
		<script src="../assets/js/pages/crud/forms/widgets/select2.js"></script>
	</body>
	<!--end::Body-->
</html>
