<!DOCTYPE html>
<html>
<!--begin::Head-->
<head>
<meta charset="utf-8" />
<title>Anasayfa</title>
<meta name="description" content="Page with empty content" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="canonical" href="https://keenthemes.com/metronic" />
<!--begin::Fonts-->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<!--end::Fonts-->
<!--begin::Page Vendors Styles(used by this page)-->
<link
	href="../assets/plugins/custom/fullcalendar/fullcalendar.bundle.css"
	rel="stylesheet" type="text/css" />
<!--end::Page Vendors Styles-->
<!--begin::Global Theme Styles(used by all pages)-->
<link href="../assets/plugins/global/plugins.bundle.css"
	rel="stylesheet" type="text/css" />
<link href="../assets/plugins/custom/prismjs/prismjs.bundle.css"
	rel="stylesheet" type="text/css" />
<link href="../assets/css/style.bundle.css" rel="stylesheet"
	type="text/css" />
<!--end::Global Theme Styles-->
<!--begin::Layout Themes(used by all pages)-->
<link href="../assets/css/themes/layout/header/base/light.css"
	rel="stylesheet" type="text/css" />
<link href="../assets/css/themes/layout/header/menu/light.css"
	rel="stylesheet" type="text/css" />
<link href="../assets/css/themes/layout/brand/dark.css" rel="stylesheet"
	type="text/css" />
<link href="../assets/css/themes/layout/aside/dark.css" rel="stylesheet"
	type="text/css" />
<!--end::Layout Themes-->
<link rel="shortcut icon" href="../assets/media/logos/favicon.ico" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body"
	class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
	<!--begin::Main-->
	<!--begin::Header Mobile-->
	<div id="kt_header_mobile"
		class="header-mobile align-items-center header-mobile-fixed">
		<!--begin::Logo-->
		<a href="index.html"> <img alt="Logo"
			src="../assets/media/logos/webapp.png" width="210" />
		</a>
		<!--end::Logo-->
		<!--begin::Toolbar-->
		<div class="d-flex align-items-center">
			<!--begin::Aside Mobile Toggle-->
			<button class="btn p-0 burger-icon burger-icon-left"
				id="kt_aside_mobile_toggle">
				<span></span>
			</button>
			<!--end::Aside Mobile Toggle-->
			<!--begin::Header Menu Mobile Toggle-->
			<button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
				<span></span>
			</button>
			<!--end::Header Menu Mobile Toggle-->
			<!--begin::Topbar Mobile Toggle-->
			<button class="btn btn-hover-text-primary p-0 ml-2"
				id="kt_header_mobile_topbar_toggle">
				<span class="svg-icon svg-icon-xl"> <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
						height="24px" viewBox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<polygon points="0 0 24 0 24 24 0 24" />
								<path
							d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
							fill="#000000" fill-rule="nonzero" opacity="0.3" />
								<path
							d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
							fill="#000000" fill-rule="nonzero" />
							</g>
						</svg> <!--end::Svg Icon-->
				</span>
			</button>
			<!--end::Topbar Mobile Toggle-->
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header Mobile-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="d-flex flex-row flex-column-fluid page">
			<!--begin::Aside-->
			<div
				class="aside aside-left aside-fixed d-flex flex-column flex-row-auto"
				id="kt_aside">
				<!--begin::Brand-->
				<div class="brand flex-column-auto" id="kt_brand">
					<!--begin::Logo-->
					<a href="index.html" class="brand-logo"> <img alt="Logo"
						src="../assets/media/logos/webapp.png" width="210" />
					</a>
					<!--end::Logo-->
					<!--begin::Toggle-->
					<button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
						<span class="svg-icon svg-icon svg-icon-xl"> <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-left.svg-->
							<svg xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
								height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none"
									fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path
									d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z"
									fill="#000000" fill-rule="nonzero"
									transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)" />
										<path
									d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z"
									fill="#000000" fill-rule="nonzero" opacity="0.3"
									transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)" />
									</g>
								</svg> <!--end::Svg Icon-->
						</span>
					</button>
					<!--end::Toolbar-->
				</div>
				<!--end::Brand-->
				<!--begin::Aside Menu-->
				<div th:replace="company/fragments/menu :: menu"
					class="aside-menu-wrapper flex-column-fluid"
					id="kt_aside_menu_wrapper"></div>
				<!--end::Aside Menu-->
			</div>
			<!--end::Aside-->
			<!--begin::Wrapper-->
			<div class="d-flex flex-column flex-row-fluid wrapper"
				id="kt_wrapper">
				<!--begin::Header-->
				<div th:replace="company/fragments/header :: header"></div>
				<!--end::Header-->


				<!--begin::Content-->




				<div class="content d-flex flex-column">
					<!--begin::Entry-->
					<div class="d-flex flex-column-fluid">
						<!--begin::Container-->
						<div class="container">
							<!--begin::Card-->
							<div class="card card-custom">

								<br>

								<div _ngcontent-kvu-c119="" class="content-wrapper">
									<div _ngcontent-kvu-c119="" class="container-fluid">
										<router-outlet _ngcontent-kvu-c119=""></router-outlet>
										<app-dashboard _nghost-kvu-c223="" class="ng-star-inserted">
										<div _ngcontent-kvu-c223="" class="row">
											<div _ngcontent-kvu-c223=""
												class="col-xl-3 col-lg-6 col-md-6 col-12">
												<div _ngcontent-kvu-c223="" class="card bg-primary">
													<div _ngcontent-kvu-c223="" class="card-body">
														<div _ngcontent-kvu-c223="" class="card-block pt-2 pb-0">
															<div _ngcontent-kvu-c223="" class="media">
																<div _ngcontent-kvu-c223=""
																	class="media-body white text-left">
																	<h3 _ngcontent-kvu-c223="" class="font-large-1 mb-0 totalPrice">₺69,664.26</h3>
																	<span _ngcontent-kvu-c223="">Toplam Kazanç</span>
																</div>
																<div _ngcontent-kvu-c223=""
																	class="media-right white text-right">
																	<i _ngcontent-kvu-c223=""
																		class="icon-bulb font-large-1"></i>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div _ngcontent-kvu-c223=""
												class="col-xl-3 col-lg-6 col-md-6 col-12">
												<div _ngcontent-kvu-c223="" class="card bg-warning">
													<div _ngcontent-kvu-c223="" class="card-body">
														<div _ngcontent-kvu-c223="" class="card-block pt-2 pb-0">
															<div _ngcontent-kvu-c223="" class="media">
																<div _ngcontent-kvu-c223=""
																	class="media-body white text-left">
																	<h3 _ngcontent-kvu-c223="" class="font-large-1 mb-0 orders">863</h3>
																	<span _ngcontent-kvu-c223="">Toplam Siparişler</span>
																</div>
																<div _ngcontent-kvu-c223=""
																	class="media-right white text-right">
																	<i _ngcontent-kvu-c223=""
																		class="icon-pie-chart font-large-1"></i>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div _ngcontent-kvu-c223=""
												class="col-xl-3 col-lg-6 col-md-6 col-12">
												<div _ngcontent-kvu-c223="" class="card bg-success">
													<div _ngcontent-kvu-c223="" class="card-body">
														<div _ngcontent-kvu-c223="" class="card-block pt-2 pb-0">
															<div _ngcontent-kvu-c223="" class="media">
																<div _ngcontent-kvu-c223=""
																	class="media-body white text-left">
																	<h3 _ngcontent-kvu-c223="" class="font-large-1 mb-0 products">1980</h3>
																	<span _ngcontent-kvu-c223="">Ürünler</span>
																</div>
																<div _ngcontent-kvu-c223=""
																	class="media-right white text-right">
																	<i _ngcontent-kvu-c223=""
																		class="icon-graph font-large-1"></i>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div _ngcontent-kvu-c223=""
												class="col-xl-3 col-lg-6 col-md-6 col-12">
												<div _ngcontent-kvu-c223="" class="card bg-danger">
													<div _ngcontent-kvu-c223="" class="card-body">
														<div _ngcontent-kvu-c223="" class="card-block pt-2 pb-0">
															<div _ngcontent-kvu-c223="" class="media">
																<div _ngcontent-kvu-c223=""
																	class="media-body white text-left">
																	<h3 _ngcontent-kvu-c223="" class="font-large-1 mb-0 categories">19</h3>
																	<span _ngcontent-kvu-c223="">Kategoriler</span>
																</div>
																<div _ngcontent-kvu-c223=""
																	class="media-right white text-right">
																	<i _ngcontent-kvu-c223=""
																		class="icon-wallet font-large-1"></i>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div _ngcontent-kvu-c223="" class="row">
											<div _ngcontent-kvu-c223="" class="col-md-12 bar-block">
												<ngx-charts-bar-vertical _ngcontent-kvu-c223="">
												<ngx-charts-chart class="ng-tns-c157-33 ng-star-inserted">
												<div
													class="ngx-charts-outer ng-tns-c157-33 ng-trigger ng-trigger-animationState"
													style="width: 800px;">
													<svg class="ngx-charts ng-tns-c157-33" width="800"
														height="500">
														<g class="bar-chart chart ng-tns-c157-33"
															transform="translate(91 , 10)">
														<g ngx-charts-x-axis="" class="ng-star-inserted" style="">
														<g class="x axis" transform="translate(0,436)">
														<g ngx-charts-x-axis-ticks="" class="ng-star-inserted">
														<g>
														<g class="tick ng-star-inserted"
															transform="translate(54.5,20)" style="">
														<title>12-9-2021</title>
														<text stroke-width="0.01" text-anchor="middle"
															transform="" style="font-size: 12px;"> 12-9-2021 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(171.5,20)" style="">
														<title>11-9-2021</title>
														<text stroke-width="0.01" text-anchor="middle"
															transform="" style="font-size: 12px;"> 11-9-2021 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(288.5,20)" style="">
														<title>13-9-2021</title>
														<text stroke-width="0.01" text-anchor="middle"
															transform="" style="font-size: 12px;"> 13-9-2021 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(405.5,20)" style="">
														<title>10-9-2021</title>
														<text stroke-width="0.01" text-anchor="middle"
															transform="" style="font-size: 12px;"> 10-9-2021 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(522.5,20)" style="">
														<title>9-9-2021</title>
														<text stroke-width="0.01" text-anchor="middle"
															transform="" style="font-size: 12px;"> 9-9-2021 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(639.5,20)" style="">
														<title>14-9-2021</title>
														<text stroke-width="0.01" text-anchor="middle"
															transform="" style="font-size: 12px;"> 14-9-2021 </text></g><!----></g>
														<g transform="translate(54.5,20)" class="ng-star-inserted"
															style=""><!----></g>
														<g transform="translate(171.5,20)"
															class="ng-star-inserted" style=""><!----></g>
														<g transform="translate(288.5,20)"
															class="ng-star-inserted" style=""><!----></g>
														<g transform="translate(405.5,20)"
															class="ng-star-inserted" style=""><!----></g>
														<g transform="translate(522.5,20)"
															class="ng-star-inserted" style=""><!----></g>
														<g transform="translate(639.5,20)"
															class="ng-star-inserted" style=""><!----></g><!----></g><!---->
														<g ngx-charts-axis-label="" class="ng-star-inserted">
														<text stroke-width="0.01" x="347" y="44"
															text-anchor="middle" transform=""> Ay &amp; Yıl </text></g><!----></g></g><!---->
														<g ngx-charts-y-axis="" class="ng-star-inserted" style="">
														<g class="y axis" transform="translate(-5 , 0)">
														<g ngx-charts-y-axis-ticks="" class="ng-star-inserted">
														<g>
														<g class="tick ng-star-inserted"
															transform="translate(0,431)">
														<title>0</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 0 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(0,389.29260976010994)" style="">
														<title>200</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 200 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(0,347.5852195202199)" style="">
														<title>400</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 400 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(0,305.87782928032976)" style="">
														<title>600</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 600 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(0,264.17043904043976)" style="">
														<title>800</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 800 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(0,222.4630488005497)" style="">
														<title>1,000</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 1,000 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(0,180.7556585606596)" style="">
														<title>1,200</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 1,200 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(0,139.04826832076952)" style="">
														<title>1,400</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 1,400 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(0,97.34087808087948)" style="">
														<title>1,600</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 1,600 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(0,55.63348784098938)" style="">
														<title>1,800</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 1,800 </text></g>
														<g class="tick ng-star-inserted"
															transform="translate(0,13.926097601099341)" style="">
														<title>2,000</title>
														<text stroke-width="0.01" dy=".32em" x="-9"
															text-anchor="end" style="font-size: 12px;"> 2,000 </text></g><!----></g><!---->
														<g transform="translate(0,431)" class="ng-star-inserted">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g>
														<g transform="translate(0,389.29260976010994)"
															class="ng-star-inserted" style="">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g>
														<g transform="translate(0,347.5852195202199)"
															class="ng-star-inserted" style="">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g>
														<g transform="translate(0,305.87782928032976)"
															class="ng-star-inserted" style="">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g>
														<g transform="translate(0,264.17043904043976)"
															class="ng-star-inserted" style="">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g>
														<g transform="translate(0,222.4630488005497)"
															class="ng-star-inserted" style="">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g>
														<g transform="translate(0,180.7556585606596)"
															class="ng-star-inserted" style="">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g>
														<g transform="translate(0,139.04826832076952)"
															class="ng-star-inserted" style="">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g>
														<g transform="translate(0,97.34087808087948)"
															class="ng-star-inserted" style="">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g>
														<g transform="translate(0,55.63348784098938)"
															class="ng-star-inserted" style="">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g>
														<g transform="translate(0,13.926097601099341)"
															class="ng-star-inserted" style="">
														<g transform="translate(5,0)" class="ng-star-inserted">
														<line x1="0"
															class="gridline-path gridline-path-horizontal ng-star-inserted"
															x2="694"></line><!----><!----></g><!----></g><!----><!----></g><!---->
														<g ngx-charts-axis-label="" class="ng-star-inserted">
														<text stroke-width="0.01" x="-215.5" y="-61"
															text-anchor="middle" transform="rotate(270)"> Kazanç </text></g><!----></g></g><!---->
														<g ngx-charts-series-vertical=""
															class="ng-tns-c193-34 ng-star-inserted" style="">
														<g ngx-charts-bar="" ngx-tooltip=""
															class="ng-tns-c193-34 ng-trigger ng-trigger-animationState ng-star-inserted"
															style=""><!---->
														<path stroke="none" role="img" tabIndex="-1" class="bar"
															d="M5,0h99a5,5 0 0 1 5,5v421v5h-5h-99h-5v-5v-421a5,5 0 0 1 5,-5z"
															aria-label="12-9-2021 2.066,78" fill="#5AA454"></path></g><!---->
														<g ngx-charts-bar="" ngx-tooltip=""
															class="ng-tns-c193-34 ng-trigger ng-trigger-animationState ng-star-inserted"
															style=""><!---->
														<path stroke="none" role="img" tabIndex="-1" class="bar"
															d="M122,123.8605221649136h99a5,5 0 0 1 5,5v297v5h-5h-99h-5v-5v-297a5,5 0 0 1 5,-5z"
															aria-label="11-9-2021 1.472,83" fill="#A10A28"></path></g><!---->
														<g ngx-charts-bar="" ngx-tooltip=""
															class="ng-tns-c193-34 ng-trigger ng-trigger-animationState ng-star-inserted"
															style=""><!---->
														<path stroke="none" role="img" tabIndex="-1" class="bar"
															d="M239,281.2225055400188h99a5,5 0 0 1 5,5v139v5h-5h-99h-5v-5v-139a5,5 0 0 1 5,-5z"
															aria-label="13-9-2021 718,23" fill="#C7B42C"></path></g><!---->
														<g ngx-charts-bar="" ngx-tooltip=""
															class="ng-tns-c193-34 ng-trigger ng-trigger-animationState ng-star-inserted"
															style=""><!---->
														<path stroke="none" role="img" tabIndex="-1" class="bar"
															d="M356,280.88884641809966h99a5,5 0 0 1 5,5v140v5h-5h-99h-5v-5v-140a5,5 0 0 1 5,-5z"
															aria-label="10-9-2021 719,83" fill="#AAAAAA"></path></g><!---->
														<g ngx-charts-bar="" ngx-tooltip=""
															class="ng-tns-c193-34 ng-trigger ng-trigger-animationState ng-star-inserted"
															style=""><!---->
														<path stroke="none" role="img" tabIndex="-1" class="bar"
															d="M473,161.98941832222107h99a5,5 0 0 1 5,5v259v5h-5h-99h-5v-5v-259a5,5 0 0 1 5,-5z"
															aria-label="9-9-2021 1.289,99" fill="#5AA454"></path></g><!---->
														<g ngx-charts-bar="" ngx-tooltip=""
															class="ng-tns-c193-34 ng-trigger ng-trigger-animationState ng-star-inserted"
															style=""><!---->
														<path stroke="none" role="img" tabIndex="-1" class="bar"
															d="M590,229.55330514133098h99a5,5 0 0 1 5,5v191v5h-5h-99h-5v-5v-191a5,5 0 0 1 5,-5z"
															aria-label="14-9-2021 966" fill="#A10A28"></path></g><!----><!----><!----></g></g></svg>
													<!---->
													<!---->
												</div>
												</ngx-charts-chart></ngx-charts-bar-vertical>
											</div>
										
										
										</div>
										</app-dashboard>
										<!---->
									</div>
								</div>



							</div>


						</div>
						<!--end::Card-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Entry-->
				<!--begin::Footer-->
				<div th:replace="company/fragments/footer :: footer"></div>
				<!--end::Footer-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::Main-->
	<!-- begin::User Panel-->
	<div th:replace="company/fragments/user-profile :: user-profile"></div>
	<!-- end::User Panel-->



	<!--begin::Scrolltop-->
	<div id="kt_scrolltop" class="scrolltop">
		<span class="svg-icon"> <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
			<svg xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
				height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2"
					height="10" rx="1" />
						<path
					d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
					fill="#000000" fill-rule="nonzero" />
					</g>
				</svg> <!--end::Svg Icon-->
		</span>
	</div>
	<!--end::Scrolltop-->

	<script>
		var HOST_URL = "http://localhost:8080";
	</script>
	<!--begin::Global Config(global config for global JS scripts)-->
	<script>
		var KTAppSettings = {
			"breakpoints" : {
				"sm" : 576,
				"md" : 768,
				"lg" : 992,
				"xl" : 1200,
				"xxl" : 1400
			},
			"colors" : {
				"theme" : {
					"base" : {
						"white" : "#ffffff",
						"primary" : "#3699FF",
						"secondary" : "#E5EAEE",
						"success" : "#1BC5BD",
						"info" : "#8950FC",
						"warning" : "#FFA800",
						"danger" : "#F64E60",
						"light" : "#E4E6EF",
						"dark" : "#181C32"
					},
					"light" : {
						"white" : "#ffffff",
						"primary" : "#E1F0FF",
						"secondary" : "#EBEDF3",
						"success" : "#C9F7F5",
						"info" : "#EEE5FF",
						"warning" : "#FFF4DE",
						"danger" : "#FFE2E5",
						"light" : "#F3F6F9",
						"dark" : "#D6D6E0"
					},
					"inverse" : {
						"white" : "#ffffff",
						"primary" : "#ffffff",
						"secondary" : "#3F4254",
						"success" : "#ffffff",
						"info" : "#ffffff",
						"warning" : "#ffffff",
						"danger" : "#ffffff",
						"light" : "#464E5F",
						"dark" : "#ffffff"
					}
				},
				"gray" : {
					"gray-100" : "#F3F6F9",
					"gray-200" : "#EBEDF3",
					"gray-300" : "#E4E6EF",
					"gray-400" : "#D1D3E0",
					"gray-500" : "#B5B5C3",
					"gray-600" : "#7E8299",
					"gray-700" : "#5E6278",
					"gray-800" : "#3F4254",
					"gray-900" : "#181C32"
				}
			},
			"font-family" : "Poppins"
		};
	</script>
	<!--end::Global Config-->
	<!--begin::Global Theme Bundle(used by all pages)-->
	<script src="../assets/plugins/global/plugins.bundle.js"></script>
	<script src="../assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
	<script src="../assets/js/scripts.bundle.js"></script>
	<!--end::Global Theme Bundle-->
	<!--begin::Page Vendors(used by this page)-->
	<script
		src="../assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
	<!--end::Page Vendors-->
	<!--begin::Page Scripts(used by this page)-->
	<script src="../assets/js/pages/widgets.js"></script>
	<!--end::Page Scripts-->
	<script src="../assets/js/pages/custom/user/list-datatable.js"></script>

	<script src="../assets/js/pages/crud/forms/widgets/bootstrap-switch.js"></script>



	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src="../assets/company/assets/js/custom-home.js"></script>

	<!--begin::Global Theme Bundle(used by all pages)-->
	<script src="../assets/plugins/global/plugins.bundle.js"></script>
	<script src="../assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
	<script src="../assets/js/scripts.bundle.js"></script>
	<!--end::Global Theme Bundle-->
	<script src="../assets/plugins/global/plugins.bundle.js"></script>
	<script src="../assets/js/pages/crud/forms/widgets/bootstrap-switch.js"></script>
	<script src="../assets/js/pages/features/miscellaneous/toastr.js"></script>
</body>
<!--end::Body-->
</html>
