
		<meta charset="utf-8" />
		<!--begin::Menu Container-->
						<div th:fragment="menu" id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
							<!--begin::Menu Nav-->
							<ul class="menu-nav">
								
								<li class="menu-item" aria-haspopup="true">
									<a data-ajax="true" href="/storageControl" class="menu-link">
										<i class="menu-icon flaticon2-shopping-cart-1"></i>
										<span class="menu-text">Ürün Kontrol</span>
									</a>
								</li>
								
								<li class="menu-item" aria-haspopup="true">
									<a data-ajax="true" href="/companyProducts" class="menu-link">
										<i class="menu-icon fas fa-apple-alt"></i>
										<span class="menu-text">Ürünler</span>
									</a>
								</li>
								
								<li class="menu-item" aria-haspopup="true">
									<a data-ajax="true" href="/companyCategories" class="menu-link">
										<i class="menu-icon far fa-object-ungroup"></i>
										<span class="menu-text">Kategoriler</span>
									</a>
								</li>
								
							</ul>
							<!--end::Menu Nav-->
						</div>
						<!--end::Menu Container-->